body 
{
background-color:#251d28;
}

.main
{
width:990px;
height:auto;
margin:auto;
}

.row1
{
width:990px;
height:90px;
margin-top:44px;
}

.logo
{
width:305px;
height:59px;
float:left;
}

.search
{
width:191px;
height:31px;
float:right;
background-color:#131313;
margin-top:15px;
}

.in
{
width:161;
height:31px;
float:left;
background:none;
border:none;
outline:none;
color:#fff;
}

.out
{
width:30px;
height:31px;
float:right;
background:none;
border:0;
outline:none;
background:url(images/icon.png);
background-repeat:no-repeat;
background-position:center;
}

.nav
{
width:990px;
height:38px;
border-top:2px solid #8b898c;
margin-top:30px;
margin-bottom:30px;
}

.ul1
{
margin:0;
}

.li1
{
list-style-type:none;
float:left;
margin-bottom:20px;
margin-top:20px;
}

.arc1
{
color:#959296;
text-decoration:none;
padding:15px;
}

.arc1:hover
{
background-color:#131313;
}

.row3
{
width:990px;
height:580px;
margin-top:0px;
}

.row4
{
width:990px;
height:55px;
margin-top:35px;
}

.col1
{
width:103px;
height:55px;
float:left;
color:#959296;
font-size:26px;
font-family:arial;
margin-left:0px;
}

.col2
{
width:113px;
height:55px;
float:left;
margin-left:153px;
color:#959296;
font-size:26px;
font-family:arial;
margin-left:153px;
}

.col3
{
width:111px;
height:55px;
float:left;
margin-left:144px;
color:#959296;
font-size:26px;
font-family:arial;
margin-left:144px;
}

.col4
{
width:83px;
height:55px;
float:left;
margin-left:143px;
color:#959296;
font-size:26px;
font-family:arial;
margin-left:143px;
}

.row5
{
width:990px;
height:430px;
margin-top:21px;
margin:auto;
}

.col5
{
width:233px;
height:420px;
float:left;
margin-top:21px;
background-color:#1b1119;
}

.col6
{
width:233px;
height:420px;
float:left;
margin-left:22px;
margin-top:21px;
background-color:#1b1119;
}

.col7
{
width:232px;
height:420px;
float:left;
margin-left:22px;
margin-top:21px;
background-color:#1b1119;
}

.col8
{
width:226px;
height:420px;
float:right;
margin-top:21px;
background-color:#1b1119;
}

.h1
{
width:210px;
height:5px;
margin-left:25px;
color:#f4f4f4;
font-size:11px;
font-family:arial;
margin-top:37px;
}

.para
{
width:185px;
height:80px;
margin:auto;
color:#959296;
font-size:11px;
font-family:arial;
}

.arc2
{
margin-left:25px;
margin-top:25px;
color:#8e5d86;
font-size:13px;
font-family:myriad pro;
}

.row6
{
width:990px;
height:447px;
margin-top:64px;
}

.col1-row6
{
width:317px;
height:447px;
float:left;
padding-right:53px;
border-right:2px solid #8b898c;
}

.h2
{
font-family:arial;
font-size:28px;
color:#959296;
font-style:italic;
margin-top:0px;
}

.h3
{
font-family:arial;
font-size:12px;
color:#f4f4f4;
}

.para2
{
width:306px;
height:130px;
font-family:arial;
font-size:12px;
color:#999899;
}

.arc3
{
font-family:arial;
font-size:12px;
color:#8e5d86;
font-style:italic;
}

.col2-row6
{
width:248px;
height:447px;
float:left;
padding-right:20px;
border-right:2px solid #8b898c;
margin-left:52px;
}

.para3
{
width:219px;
height:79px;
font-family:arial;
font-size:12px;
color:#999899;
margin-top:26px;
}

.col2-row1
{
width:247px;
height:47px;
float:left;
margin-top:20px;
}

.h4
{
width:25px;
height:24px;
float:left;
font-size:28px;
font-family:arial;
color:#8e5d86;
font-style:italic;
margin-top:0px;
}

.h5
{
width:212px;
height:47px;
float:left;
font-size:12px;
font-family:arial;
color:#f4f4f4;
margin-left:10px;
margin-top:0px;
}

.col2-row2
{
width:247px;
height:47px;
float:left;
margin-top:20px;
}

.col2-row3
{
width:247px;
height:47px;
float:left;
margin-top:20px;
}
.h6
{
width:215px;
height:24px;
font-family:arial;
font-size:28px;
color:#959296;
font-style:italic;
margin-top:0px;
}

.h7
{
width:247px;
height:26px;
font-family:arial;
font-size:12px;
color:#f4f4f4;
}

.arc4
{
float:left;
margin-top:30px;
font-family:arial;
font-size:12px;
color:#8e5d86;
font-style:italic;
}

.row6-col3
{
width:273px;
height:457px;
float:right;
margin-right:0px;
}

.col3-row1
{
width:223px;
height:133px;
border-bottom: 2px solid #8b898c;
padding-bottom:30px;
float:right;
margin-right:0px;
}
.h8
{
font-family:arial;
font-size:28px;
color:#959296;
font-style:italic;
margin-top:0px;
}

.row6-col3-row1-col1
{
width:37px;
height:45px;
float:right;
}
.h11
{
width:37px;
height:18px;
font-family:arial;
font-size:18px;
color:#8e5d86;
margin-top:0px;
margin-bottom:0px;
}
.h12
{
width:30px;
height:20px;
font-family:arial;
font-size:28px;
color:#8e5d86;
margin-top:0px;
}

.row6-col3-row1-col2
{
width:51px;
height:58px;
float:right;
margin-left:5px;
margin-right:0px;
}

.row6-col3-row1-col3
{
width:114px;
height:50px;
float:right;
margin-left:10px;
margin-right:0px;
}

.h9
{
width:114px;
height:12px;
float:right;
font-family:arial;
font-size:12px;
color:#f4f4f4;
margin-top:0px;
}

.h10
{
width:114px;
height:23px;
float:right;
font-family:arial;
font-size:10.05px;
color:#999899;
font-style:italic;
margin-top:5px;
margin-bottom:0px;
}

.arc5
{
float:left;
margin-left:52px;
margin-top:16px;
font-family:arial;
font-size:12px;
color:#8e5d86;
font-style:italic;
text-decoration:none;
}

.row6-col3-row2
{
width:226px;
height:82px;
margin-right:0px;
border-bottom: 2px solid #8b898c;
padding-bottom:30px;
float:right;
margin-top:29px;
}

.row6-col3-row2-col1
{
width:37px;
height:45px;
float:right;
}
.row6-col3-row2-col2
{
width:51px;
height:58px;
float:right;
margin-left:5px;
margin-right:0px;
}

.row6-col3-row2-col3
{
width:114px;
height:50px;
float:right;
margin-left:10px;
margin-right:0px;
}

.row6-col3-row3
{
width:226px;
height:82px;
margin-right:0px;
float:right;
margin-top:29px;
}

.row6-col3-row3-col1
{
width:37px;
height:45px;
float:right;
}
.row6-col3-row3-col2
{
width:51px;
height:58px;
float:right;
margin-left:5px;
margin-right:0px;
}

.row6-col3-row3-col3
{
width:114px;
height:50px;
float:right;
margin-left:10px;
margin-right:0px;
}

.row7
{
width:990px;
height:71px;
background-color:#1c0f1d;
margin-top:44px;
}

.row7-col1
{
width:93px;
height:28px;
float:right;
margin-top:18px;
margin-right:0px;
}
.h13
{
font-size:10px;
font-family:arial;
color:#f4f4f4;
margin-top:30px;
float:left;
}
